# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bin/AndroidManifest.xml
*.class
bin/dexedLibs/android-support-v4-8cfa5fa8b60b0b846ea5979a201c6a39.jar
bin/dexedLibs/android-support-v4-b80e2f263fe6c72e8065434b421a2bfa.jar
bin/jarlist.cache
bin/res/crunch/drawable-hdpi/ic_lock_reboot.png
bin/res/crunch/drawable-hdpi/ic_lock_reboot.png
bin/res/crunch/drawable-hdpi/ic_lock_reboot_bootloader.png
bin/res/crunch/drawable-hdpi/ic_lock_recovery.png
bin/res/crunch/drawable-hdpi/ic_lock_screen_record.png
bin/res/crunch/drawable-hdpi/ic_media_stop.png
bin/res/crunch/drawable-hdpi/ic_screenshot.png
bin/res/crunch/drawable-hdpi/ic_sysbar_camera.png
bin/res/crunch/drawable-xhdpi/advanced.png
bin/res/crunch/drawable-xhdpi/ic_lock_reboot.png
bin/res/crunch/drawable-xhdpi/ic_lock_screen_record.png
bin/res/crunch/drawable-xhdpi/ic_media_stop.png
bin/res/crunch/drawable-xhdpi/ic_screenshot.png
bin/res/crunch/drawable-xhdpi/ic_sysbar_camera.png
bin/res/crunch/drawable-xhdpi/lockscreen.png
bin/res/crunch/drawable-xhdpi/notification.png
bin/res/crunch/drawable-xhdpi/phone.png
bin/res/crunch/drawable-xhdpi/security.png
bin/res/crunch/drawable-xhdpi/sms.png
bin/res/crunch/drawable-xhdpi/sound.png
bin/res/crunch/drawable-xhdpi/system.png
bin/res/crunch/drawable-xhdpi/theme.png
bin/res/crunch/drawable-xxhdpi/ic_lock_reboot.png
bin/res/crunch/drawable-xxhdpi/ic_lock_reboot_bootloader.png
bin/res/crunch/drawable-xxhdpi/ic_lock_recovery.png
bin/res/crunch/drawable-xxhdpi/ic_lock_screen_record.png
bin/res/crunch/drawable-xxhdpi/ic_media_stop.png
bin/res/crunch/drawable-xxhdpi/ic_screenshot.png
gen/sb/firefds/firefdskit/BuildConfig.java
gen/sb/firefds/firefdskit/R.java
.classpath
.project
bin/dexedLibs/android-support-v4-8cfa5fa8b60b0b846ea5979a201c6a39.jar
bin/dexedLibs/android-support-v4-8cfa5fa8b60b0b846ea5979a201c6a39.jar
bin/dexedLibs/android-support-v4-8cfa5fa8b60b0b846ea5979a201c6a39.jar
bin/res/crunch/drawable-hdpi/ic_launcher.png
bin/res/crunch/drawable-hdpi/ic_lock_reboot.png
bin/res/crunch/drawable-hdpi/ic_lock_reboot_bootloader.png
bin/res/crunch/drawable-hdpi/ic_lock_screen_record.png
bin/res/crunch/drawable-hdpi/ic_screenshot.png
bin/res/crunch/drawable-hdpi/ic_sysbar_camera.png
bin/res/crunch/drawable-ldpi/ic_launcher.png
bin/res/crunch/drawable-mdpi/ic_launcher.png
bin/res/crunch/drawable-xhdpi/ic_lock_reboot.png
bin/res/crunch/drawable-xhdpi/ic_lock_reboot_bootloader.png
bin/res/crunch/drawable-xhdpi/ic_lock_recovery.png
bin/res/crunch/drawable-xhdpi/ic_lock_screen_record.png
bin/res/crunch/drawable-xhdpi/ic_media_stop.png
bin/res/crunch/drawable-xhdpi/ic_screenshot.png
