<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sb.firefds.firefdskit"
    android:versionCode="1032"
    android:versionName="1.0.3.2" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="sb.firefds.firefdskit.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material" >
        <activity
            android:name="sb.firefds.firefdskit.XTouchWizActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="61+" />
        <meta-data
            android:name="xposeddescription"
            android:value="Made for Samsung S5 TouchWiz Android 6.0+ Roms by Wanam. Moded by Firefds" />

        <receiver
            android:name="sb.firefds.firefdskit.receivers.WanamRebootReceiver"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="ma.wanam.xposed.action.REBOOT_DEVICE" />
                <action android:name="ma.wanam.xposed.action.SOFT_REBOOT_DEVICE" />
                <action android:name="ma.wanam.xposed.action.REBOOT_OPTIONS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="sb.firefds.firefdskit.receivers.WanamToastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="ma.wanam.xposed.action.SHOW_TOAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="sb.firefds.firefdskit.receivers.WanamRebootReceiver"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="ma.wanam.xposed.action.REBOOT_DEVICE" />
                <action android:name="ma.wanam.xposed.action.SOFT_REBOOT_DEVICE" />
                <action android:name="ma.wanam.xposed.action.REBOOT_OPTIONS" />
            </intent-filter>
        </receiver>

        <activity
            android:name="sb.firefds.firefdskit.activities.WanamRebootActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/rebooting_"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" >
        </activity>
        
                <service
  			android:name="sb.firefds.firefdskit.services.ScreenRecordingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="firefdskit.intent.action.RECORDING_START" />
            </intent-filter>
        </service>
    </application>

</manifest>